<style>
    .lesson h1 {
        font-size: 3rem;
        font-weight: 800;
        color: var(--main_color);
        margin: 170px 0 50px 0;
    }
</style>
<section class="lesson">
    <div class="container">
        <h1>Lesson 1</h1>

        <div>
            <table border="1" class="w-100 my-5 text-center">
                <tbody>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Mark</th>
                </tr>
                <tr>
                    <td>12.03.2022</td>
                    <td>Abdulla abdullayev</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>12.03.2022</td>
                    <td>Abdulla</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>12.03.2022</td>
                    <td>Abdulla</td>
                    <td>5.0</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</section>

